/*首页样式*/
* {
  padding:0;
  margin:0;
}
ul li {
  list-style:none;
}
a, img {
  text-decoration:none;
  border:none;
}
img {
  object-fit: cover; /*等比缩放*/
}

/** 导航栏 start **/

/*右上角的小按钮*/
.menu_close, .menu_open {
  width:40px;
  height:40px;
  position:fixed;
  right:55px;
  top:40px;
  border-radius:50%;
  cursor:pointer;
  background-color:rgba(0,0,0,.1);
  overflow:hidden;
  z-index:102;
}
/*右上角的小按钮 鼠标滑过颜色：绿色*/
.menu_close:hover, .menu_open:hover {
  background:green;
}
/*右上角的小按钮 里面的横杠*/
.menu_close span, .menu_open span {
  width:26px;
  height:2px;
  display:block;
  background:#FFF;
  margin:0 auto;
  margin-top:5px;
}
.menu_open span:first-child{
  margin-top:12px;
}
/*右上角的小按钮 旋转 div 元素*/
.menu_open span:first-child, .menu_open span:last-child, .menu_open span:nth-last-of-type(2) {
  -webkit-transform:rotate(0);
  transform:rotate(0);
  /*控制时间的快慢*/
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -ms-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}
.menu_close span {
  margin-top:0;
}
.menu_close span:first-child {
  margin-top:18px;
}
.menu_close span:last-child {
  display:none;
}
/*右上角的小按钮 旋转 div 元素*/
.menu_close span:first-child {
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  /*控制时间的快慢*/
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -ms-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}
/*右上角的小按钮 旋转 div 元素*/
.menu_close span:nth-of-type(2) {
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  margin-top:-2px;
  /*控制时间的快慢*/
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -ms-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}
/*右上角的小按钮 颜色 控制时间的快慢*/
.hover_animation {
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  -ms-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
  background-color: rgb(88,88,88,.5);
}
/*右侧菜单展开之后的页面*/
.navgation, .navgation_close, .navgation_open {
  width:100%;
  height:100%;
  position:fixed;
  z-index:101;
}
.navgation_close {
  height:0;
}
.navgation_open {
  background:rgba(0,0,0,.3);
}
/*右侧菜单展开之后的页面*/
.navgation:before, .navgation_close:before, .navgation_open:before {
  content:'';
  width:30%;
  height:100%;
  position:fixed;
  top:0;
  background-color:rgba(0,180,255,.3);
  /*控制时间快慢 可以时快时慢*/
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s;
  /*3D 动画 旋转角度*/
  -webkit-transform:translateZ(0) translateX(45%) skew(-15deg);
  -moz-transform:translateZ(0) translateX(45%) skew(-15deg);
  -ms-transform:translateZ(0) translateX(45%) skew(-15deg);
  -o-transform:translateZ(0) translateX(45%) skew(-15deg);
  transform:translateZ(0) translateX(45%) skew(-15deg);
}
.navgation_open:before {
  right:0;
}
.navgation_close:before {
  right:-60%;
}
/*右侧菜单展开之后的页面 上面的 Tab */
.point {
  position:absolute;
  right:0;
  top:200px;
  z-index:101;
}
.point li a {
  font-size:20px;
  color:#FFFF00;
  line-height:80px;
  padding:10px 50px;
  -webkit-transition:color 0.7s;
  transition:color 0.7s;
}
.point li a:hover {
  color:#FF6600;
}
.navgation_open .point {
  display:block;
}
.navgation_close .point {
  display:none;
}
/*右侧菜单点开之后，右下角logo*/
.logo{
  position:absolute;
  right:30px;
  bottom:0;
  z-index:101;
  padding:20px 50px
}
.logo a {
  font-size:35px;
  font-family:Xingkai SC;
  color:#1E90FF;
  font-weight: bold;
}
.navgation_open .logo {
  display:block;
}
.navgation_close .logo {
  display:none;
}
/*导航栏样式 end*/




/*每个模块的公共样式 start*/
.section {
  width:100%;
  overflow:hidden;
  display:table;
  table-layout:fixed;
  position:relative;
  padding:100px 0;
}

/*每个模块 次级模块 公共样式*/
.fp-tablecell {
  width:100%;
  height:100%;
  display:table-cell;
  vertical-align:middle;
  position:relative;
  z-index:100;
}

#section1, #section3 {
  padding:0;
  background-color:transparent;
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
}
#section1 {
  height:100vh;
  background-image:url(../images/index.jpg);
}
#section2 {
  background-color: #FFF;
}
#section3 {
  height:40vh;
  background-image:url(../images/city1.jpg);
}
#section1:after, #section3:after {
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  width:100%;
  height:100%;
}
#section1, #section2, #section3, #section4 {
  background-size:cover;
}
/*每个模块的公共样式 end*/




/*第一屏 开始*/

/*中间的三行文字内容*/
.page1 .nav {
  text-align:center;
  color:#FFF;
}
/*第二行的字*/
.page1 p {
  letter-spacing:10px;
  margin:20px 0;
  transition: all 0.6s;
}
/*第三行的按钮*/
.page1 .btn {
  margin-top:20px;
  padding:10px 40px;
  background:0 0;
  border-radius:5px;
  border:1px solid #FFF;
  color:#FFF;
  cursor:pointer;
  display:inline-block;
  transition: all 1s;
}
.page1 .btn:hover {
  transform: scale(1.1);
}
/*当前页面 最下面的向下箭头*/
.page1 .next{
  width:50px;
  height:50px;
  border-radius:50%;
  display:block;
  position:absolute;
  bottom:30px;
  left:50%;
  margin-left:-25px !important;
  -webkit-transition:all .7s ease-out;
  transition:all .7s ease-out;
  cursor:pointer
}
.page1 .next:hover{
  background-color: rgba(0, 200, 0, 1);
}
.page1 .next:after{
  font-family:FontAwesome;
  content:"\f107";
  color:#FFF;
  font-size:3rem;
  display:table;
  margin:0 auto;
}
/*第一屏 结束*/




/*第二、三、四屏 公共样式*/
.page2, .page3, .page4, .page5 {
  margin:0 auto;
  position:relative;
}
.warp-box {
  width:100%;
  height:100%;
  position:relative;
}


/*第二屏 开始*/

/*标题：博客分类*/
.page2 .new-article {
  text-align:center;
}
.page2 .new-article .inner {
  display:inline-block;
  vertical-align:middle;
}
.page2 .new-article .inner h1 {
  font-size:32px;
  padding-bottom:30px;
  position:relative;
  font-weight:500;
}
.page2 .new-article .inner h1:after {
  width:50px;
  height:2px;
  position:absolute;
  content:"";
  left:50%;
  bottom:-1px;
  margin-left:-25px;
  background:#00C2FF;
}
/*标题：博客分类 下方一句话简介*/
.page2 .new-article .inner p {
  margin-top:22px;
  color:#999;
}
/*.page2 .layui-row {
  width: 80%;
  margin: 0 auto;
}*/
/*博客分类，具体的每个div*/
.page2 .single-news {
  margin:50px 10px 0 10px;
  background:#F0FFF0;
}
/*博客分类，具体的每个div 头部：图片和链接*/
.page2 .single-news .news-head{
  position:relative;
  overflow:hidden;
}
.page2 .single-news .news-head::before{
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:rgba(0,0,0,.1);
  content:"";
  /*opacity:0;*/
  visibility:hidden;
  -webkit-transition:all .7s ease;
  -moz-transition:all .7s ease;
  transition:all .7s ease;
  -webkit-transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  transform:translateY(-100%);
  z-index:99;
}
.page2 .single-news:hover .news-head:before {
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  transform:translateY(0);
}
/*博客分类，具体的每个div 头部：图片*/
.page2 .news-head img {
  width:100%;
  height:240px;
  -webkit-transition:all .7s ease;
  -moz-transition:all .7s ease;
  transition:all .7s ease;
}
/*博客分类，具体的每个div 头部：图片放大 1.1*/
.page2 .single-news:hover .news-head img {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  transform:scale(1.1);
}
/*博客分类，具体的每个div 头部：链接*/
.page2 .link {
  width:40px;
  height:40px;
  border-radius: 5px;
  line-height:40px;
  z-index:100;
  background:#696969;
  color:#FFF;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  visibility:hidden;
  text-align:center;
  left:50%;
  margin:-40px 0 0 -20px;
  -webkit-transition:all .7s ease;
  -moz-transition:all .7s ease;
  transition:all .7s ease;
}
/*博客分类，具体的每个div 滑过图片 🔗 显示*/
.page2 .single-news:hover .news-head .link {
  top:50%;
  margin-top: -20px;
  opacity:0.8;
  visibility:visible;
}
/*博客分类，具体的每个div 下方文字内容*/
.page2 .news-content {
  padding:30px 15px;
}
/*博客分类，具体的每个div 下方文字内容：日期*/
.page2 .news-content .date {
  margin-top:10px;
  color:#BEBEBE;
  font-size:12px;
}
/*博客分类，具体的每个div 下方文字内容：简介*/
.page2 .news-content p {
  height:60px;
  margin-top:15px;
  color:#999;
  overflow:hidden;
  text-overflow: ellipsis; /*溢出隐藏*/
  display: -webkit-box;
  -webkit-line-clamp: 3; /*溢出隐藏：3行*/
  -webkit-box-orient: vertical;
}
/*博客分类，具体的每个div 下方文字内容：阅读更多按钮*/
.page2 .news-content .btn {
  display:inline-block;
  margin-top:15px;
  padding:0;
  color:#29B6F6;
  -webkit-transition:all .7s ease;
  -moz-transition:all .7s ease;
  transition:all .7s ease;
}
/*博客分类，具体的每个div 下方文字内容：阅读更多按钮 滑过变色*/
.page2 .news-content .btn:hover {
  color:#1f4f7f;
}
/*第二屏 结束*/




/*第三屏 开始*/
.page3 .warp {
  display:table;
  margin:0 auto;
  height:100%;
  position:relative;
}
.page3 .inner {
  text-align:center;
}
.page3 .links li {
  display:inline-block;
  width:200px;
  height:46px;
  margin:10px;
  border:1px solid #FFF;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition:all .7s linear;
  transition:all .7s linear;
  position:relative;
  text-align:center;
  overflow:hidden;
}
.page3 .links li a {
  display:inline-block;
  line-height:26px;
  padding:10px;
  text-align:center;
  color:#FFF;
  font-size:14px;
  -webkit-transition:all .7s linear;
  transition:all .7s linear;
  position:relative;
  z-index:99;
}
.page3 .links li:after {
  width:0;
  content:'';
  background-color:#6bc30d;
  height:46px;
  position:absolute;
  left:0;
  top:0;
  z-index:0;
  -webkit-transition:all 1s linear;
  transition:all 1s linear;
}
.page3 .links li:hover {
  border-color:#FFF;
  color:#FFF;
}
.page3 .links li:hover:after {
  width:100%;
}
/*第三屏结束*/




/*第四屏开始*/
.page4 .about {
  text-align: center;
}
.page4 .about p {
  margin-top:20px;
}
/*第四屏结束*/




/*底部*/
.footer {
  color: #BEBEBE;
}
.footer .footer-top {
  background:#232328;
  padding:60px 0 90px;
}
.footer .container {
  width:90%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
/*底部：3个小块*/
.footer .single-widget {
  margin-top:30px;
}
/*底部：3个小块 小标题*/
.footer .single-widget h2 {
  font-size:18px;
  margin-bottom:20px;
  text-transform:uppercase; /*全部大写*/
}
/*底部：左侧 关于我*/
.footer .btn {
  margin-top:20px;
  padding:10px;
  background:0 0;
  border-radius:5px;
  border:1px solid #ccc;
  color:#FFF;
  cursor:pointer;
  display:inline-block;
  transition:all .7s;
}
.footer .btn:hover {
  background-color: #82B440;
  border-color:#BEBEBE;
  opacity: 1;
}
/*底部 中间：相关链接*/
.footer .social-icon li {
  float:left;
  width:50%;
  margin-bottom:10px;
}
.footer .social-icon li:last-child {
  margin:0;
}
.footer .social-icon li a {
  color:#BEBEBE;
}
.footer .social-icon li a:hover {
  color:#82B440;
}
.footer .social-icon li a i {
  margin-right:10px;
  width:20px;
  font-size:16px;
}
/*底部 右侧：联系我*/
.footer .contact ul li {
  height: 20px;
  margin-bottom:10px;
  padding-left: 30px;
}
.footer .contact ul li:last-child{
  margin:0;
}
.footer .contact ul li i {
  width:20px;
  font-size:16px;
  position:absolute;
  left:0;
}
/*底部 最下方 备案信息*/
.footer .copyright{
  padding:12px 0;
  background:#1D1D21
}
.footer .copyright .text-center{
  text-align:center
}
.footer .copyright p{
  font-size:14px
}
/*底部*/


/*浏览器宽度小于 768px*/
@media screen and (max-width:768px){
  .navgation:before,.navgation_open:before,.navgation_close:before {
    width:50%;transform: none;-webkit-transform:none;
  }
  .logo{width: 50%;padding: 0;text-align: center;}
}
/*浏览器宽度大于 768px*/
@media screen and (min-width: 768px) {
  .page2 {width: 750px;}
}
/*浏览器宽度大于 992px*/
@media screen and (min-width: 992px) {
  .page2 {width: 970px;}
}
/*浏览器宽度大于 1200px*/
@media screen and (min-width: 1200px) {
  .page2 {width: 1170px;}
}

