/*博客列表的样式*/
* {
  /*border: 1px solid #000;*/
}
img {
  object-fit: cover; /*等比缩放*/
}
pre {
  /*
  normal    默认。空白会被浏览器忽略。
  pre       空白会被浏览器保留。其行为方式类似 HTML 中的 <pre> 标签。
  nowrap    文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。
  pre-wrap  保留空白符序列，但是正常地进行换行。
  pre-line  合并空白符序列，但是保留换行符。
  inherit 规定应该从父元素继承 white-space 属性的值。
  */
  white-space:pre; /*规定段落中的文本是否换行*/
}

/*博客页面的容器*/
.container-fixed:after {
  content:"";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
/*博客列表 - 左侧内容*/
.col-content{
  float:left;
  width:calc(100% - 300px - 20px);
}
/*博客列表 - 左侧内容 - 博客内容*/
.article-list {
  position:relative;
}
/*每个小模块*/
.article-item {
  overflow:hidden;
  padding:20px 30px 25px 30px;
  position:relative;
  margin-top:20px;
  background-color:#FFF;
}
/*置顶小标签*/
.article-item .fc-flag {
  height:20px;
  width:74px;
  line-height:20px;
  position:absolute;
  left:-18px;
  top:9px;
  text-align:center;
  background-color:#FF5722;
  color:#FFF;
  transform:rotate(-45deg);
}
/*原创&标题*/
.article-item .title {
  line-height:30px;
  padding:5px 130px 10px 0;
  border-bottom:1px solid #E8E9E7;
  font-size:18px;
  font-weight: 500;
}
/*原创&标题：原创*/
.article-item .title span {
  font-size:16px;
  display:inline-block;
  vertical-align:bottom;
  color: green;
}
/*原创&标题：标题*/
.article-item .title a {
  color:#212220;
}
/*模块：右上角时间*/
.article-item .time{
  font-family:SourceCodeProRegular,Menlo,Monaco,Consolas,"Courier New",monospace,'Helvetica Neue',Arial,sans-serif;
  position:absolute;
  right:10px;
  top:10px;
  background-color:#FFF;
  padding: 0 20px;
}
/*模块：右上角时间：天*/
.article-item .time .day {
  display:block;
  text-align:center;
  font-weight:700;
  font-size:40px;
  color:#6BC30D;
  position:relative;
  top:2px;
}
/*模块：右上角时间：年份、月份*/
.article-item .time .month,
.article-item .time .year {
  color:#989997;
}
/*模块：博客的内容：图片 + 简介*/
.article-item .content{
  margin:20px 0 0 0;
  line-height:28px;
  position:relative;
  min-height:200px;
}
/*模块：博客的内容：图片外层超链接*/
.article-item .content .cover {
  width:300px;
  height:180px;
  display:block;
  color:#3E8BC7;
  margin-right: 10px;
  overflow:hidden;
  float:left;
  border-radius: 10px;
}
/*模块：博客的内容：图片*/
.article-item .content  .cover img {
  display:block;
  width:100%!important;
  height:100%!important;
}
/*阅读更多：文字*/
.article-item .read-more{
  height:40px;
  line-height:40px;
  position:relative;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}
/*阅读更多：一条线展示*/
.article-item .read-more:before {
  content:" ";
  background-color:#D0D0D0;
  display:inline-block;
  position:absolute;
  height:1px;
  right:100px;
  left:0;
  top:20px;
}
/*模块底部*/
.article-item .footer {
  color:#787977;
}
/*模块底部：左右两个 div*/
.article-item .footer div:first-child{
  width: 60%;
  float: left;
  text-align: left;
}
.article-item .footer div:nth-child(2){
  width: 30%;
  float: right;
  text-align: right;
}
/*模块底部：可跳转的超链接*/
.article-item .footer a {
  display:inline-block;
  vertical-align:middle;
}
/*模块底部：字体符号*/
.article-item .footer i {
  display:inline-block;
  vertical-align:middle;
}
/*模块底部：左侧标签*/
.article-item .footer .tags .tag {
  display:inline-block;
  font-size:12px;
  padding:2px 5px;
  margin:2px;
  background-color:#F1F2F0;
  color:#787977;
  text-decoration:none;
  -webkit-transition:all .2s;
  transition:all .2s;
}
/*模块底部：左侧标签：滑过*/
.article-item .footer .tags .tag:hover {
  color:#FFF;
  background:#6BC30D;
  cursor: pointer;
}
/*模块底部：右侧*/
.article-item .footer .read{
  display: inline-block;
  margin-right: 20px;
}
/*模块底部：右侧数字*/
.article-item .footer .num {
  font-family:SourceCodeProRegular,Menlo,Monaco,Consolas,"Courier New",monospace,'Helvetica Neue',Arial,sans-serif;
  display:inline-block;
  vertical-align:middle;
  font-style:normal;
}
/*模块左右 a 标签，滑过*/
.article-item .content a:hover,
.article-item .footer a:hover,
.article-item .title a:hover,
.article-item a:hover {
  color:#6BC30D;
  text-decoration:underline;
}

/*大于 1025px*/
@media screen and (min-width:1025px){}
/*小于 1024px*/
@media screen and (max-width:1024px){
  .col-content {
    width:100%;
    float:none;
  }
}
/*小于 500px*/
@media screen and (max-width:500px){
  .article-item .time{
    display:none;
  }
  .article-item .title{
    padding-right:0;
  }
  .col-content{
    padding:0 0;
  }
  .article-item .content .cover{
    width:100%;
    height:auto;
    float:none;
    margin-bottom:10px;
  }
}
