* {
  /*border: 1px solid #000;*/
}
image{
  width: 100%;
}
.article-item a{
  color:#3e8bc7;
  margin:0 2px
}
/*标题右侧的编辑按钮*/
.topic_edit{
  font-size: 13px;
}
/*标题下面一行 上面的距离*/
.article-item .fc-grey {
  padding-top: 10px;
}
/*正文*/
.article-item .artiledetail {
  border-bottom: 1px solid #e1e2e0;
  padding-bottom: 20px;
}
/*文章详情 图片滑过效果*/
.article-item .artiledetail img:hover{
  box-shadow: 0 0 5px #333;
}
/*非特殊说明，本文版权归*/
.article-item .copyright{
  clear:both;
  background-color:#f8f9f7;
  padding:15px 20px;
  line-height:22px;
  text-shadow:0 1px 0 rgba(255,255,255,.8);
  font-size:12px;
  color:#787977;
  border: 1px dashed #ccc;
}
.article-item .copyright .f-toe{
  overflow:hidden;
  word-wrap:normal!important;
  white-space:nowrap;
  text-overflow:ellipsis
}
.article-item .copyright p{
  margin:0
}
.article-item .copyright p:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.article-item .copyright a{
  text-decoration:none;
}
/*延伸阅读*/
.article-item h6{
  margin:20px 0;
  border-left:3px solid #6bc30d;
  min-height:26px;
  line-height:26px;
  padding:5px 20px;
  background-color:#f8f9f7;
  font-size:16px;
  font-weight:400;
  color:#585957;
  text-shadow:0 1px 0 rgba(255,255,255,.5);
  clear:both;
}
.article-item .b-relation li {
  display: block;
  height: 30px;
}
.article-item .b-relation li:before{
  content:"◈";
  margin-right:5px;
  color:#787977;
}
